input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white; /* Change the border color to white */
    background-color: black; /* Change the background color to black */
    color: white; /* Change the text color to white */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="text"][name="first_name"], input[type="text"][name="last_name"] {
    background-color: blue;
    color: white;
}

input[type="submit"] {
    background-color: blue;
    color: rgb(27, 26, 26);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
}

.container {
    border-radius: 5px;
    background-color: black; /* Change the background color to black */
    padding: 20px;
}

.container * {
    color: white;
}

.fi-page {
    background-image: url(2.png);
    background-size: cover;
}
